@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');


:root {
  --primary-color: #5d001e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #5d001e;
  font-family: 'Newsreader', serif;
}
#main-container {
  width: 700px;
  /* border: 2px solid black; */
  height: 100%;
  margin: 20px auto;
}

input[type="text"] {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  margin: 20px auto;
  border-radius: 3px;
  border: none;
  font-family: 'Newsreader', serif;
}
input[type="text"]:focus {
  outline: none;
}

.filtered
{
  display:none
}

.todo-container {
  text-align: center;
  list-style: none;
  /* border: 1px solid green; */
  margin: 0 auto;
}
li {
  width: 80%;
  padding: 1rem 1.4rem;
  margin: 6px auto;
  border-radius: 3px;
  background: #e3afbc;

  list-style-type: none;
}
.add-todo {
  background: #e3afbc;
  padding: 1rem 1.8rem;
  border: none;
  display: block;
  border-radius: 4px;
  margin: 10px auto;
}
span {
  color: white;
  display: block;
  text-align: center;
}
